/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.page-title {
  font-family: 'Life Savers';
  color: rgb(50 78 124);
  font-size: 2.5em;
}

.question-section {
  width: 450px;
  margin: auto;
  background-color: #E6ECF4;
  display: inline-block;
}

.question-form > input {
  display: block;
  width: 90%;
  height: 30px;
  margin: 10px auto 5px;
  color: #2B4E80;
  text-align: center;
  font-size: 1.1em;
  border: none;
}

.question-form > button {
  width: 90%;
  height: 30px;
  background-color: #2B4E80;
  font-size: 1.1em;
  color: white;
  border: none;
}

.question-form > button:disabled {
  background-color: #607AA0;
}

.magic-eight-ball {
  height: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.question-container {
  height: 205px;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.question {
  font-size: 1.1em;
  font-style: italic;
  margin-bottom: 5px;
}

.response {
 font-weight: 900;
 font-size: 1.4em;
 margin-top: 0px;
}

.clear-button-cont {
  width: 100%;
  text-align: right;
}

.clear-field-bttn {
  background-color: #DE4841;
  height: 22px;
  margin: 15px;
  color: white;
  font-size: 0.8em;
}

.clear-field-bttn:disabled {
  background-color: #D0CDCD;
}

.woody {
  height: 333px;
  position: relative;
  top: 23px;
}
